
input.error {
    border: 1px solid #ff0000;
}

label.error {
    color: #ff0000;
    font-weight: normal;
}

.jumbotron {
    background-color: #9100FE;
    margin-bottom: 3rem;
    padding: 0;
    color: white;
}

.first_ {
    background-color: #0A4027;
    font-size: 1.5vmax;
    font-weight: bold;
}

.second_ {
    background-color: #FF8300;
    font-size: 1.5vmax;
    font-weight: bold;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 45px -31px rgba(0, 0, 0, 0.75);
}

.inner {
    color: #999; /* IE8 proofing */
    color: rgba(255, 255, 255, .5);
    background-color: #9a63ff;
    text-align: center;
    padding: 16px;
}

a,
a:focus,
a:hover {
    color: #ffffff;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
}

#app {
    font-family: Forward, Helvetica, "Montserrat Medium", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin-top: 0;
    background-color: #9a63ff;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

html {
    height: 100%;
}

body {
    background: #545151;
    height: 100%;
}

#main {
    flex: 1 0 auto;
    padding: inherit;
}