{% extends 'validation/layout.html' %}
{% block title %}
    Валидация
{% endblock %}

{% block jumbotron %}
    <div class="jumbotron">
        <h1 class="display-1">Привет, Друг!</h1>
        <p class="lead">Работа с <kbd class="first_">vue.js</kbd> и <kbd class="second_">form</kbd></p>
    </div>
{% endblock %}

{% block content %}
    <div>
        <form novalidate>
            <div class="alert alert-success" role="alert">
                Вы успешно зарегистрировались!
            </div>

            <div id="step-1">
                <div class="form-group">
                    <label for="name">Ваше имя</label>
                    <input id="name" class="form-control" type="text">
                    <div class="invalid-feedback">{{ reqText }}</div>
                    <div class="invalid-feedback">{{ alphaText }}</div>
                </div>

                <div class="form-group">
                    <label for="surname">Ваша фамилия</label>
                    <input id="surname" class="form-control" type="text">
                    <div class="invalid-feedback">{{ reqText }}</div>
                    <div class="invalid-feedback">{{ alphaText }}</div>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" type="text">
                    <div class="invalid-feedback">{{ reqText }}</div>
                    <div class="invalid-feedback">Пожалуйста введите Email адрес</div>
                </div>
            </div>
            <div class="form-group">
                <label for="year">Год рождения</label>

                <select id="year" class="custom-select">
                    <option disabled value="">Выберите</option>
                </select>

                <div class="invalid-feedback">{{ reqText }}</div>
            </div>

            <button id="btn-step1" class="btn btn-primary" type="button" onclick="toggle_visibility('step-1',true)">
                Следующий шаг
            </button>
            <div id="step-2">
                <div class="form-group">
                    <label for="career">Профессия</label>
                    <input id="career" class="form-control" placeholder="Например, Frontend" type="text">
                    <div class="invalid-feedback">{{ alphaText }}</div>
                </div>

                <div class="form-group">
                    <label for="career">Описание</label>
                    <label>
                        <textarea placeholder="О себе"></textarea>
                    </label>
                    <div class="invalid-feedback">{{ reqText }}</div>
                </div>

                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input id="password" class="form-control" type="text">

                    <div class="invalid-feedback">{{ reqText }}</div>
                    <div class="invalid-feedback">{{ minLengthText }}
                    </div>
                </div>

                <div class="form-group">
                    <label for="passwordConfirm">Подтверждение пароля</label>

                    <input id="passwordConfirm" class="form-control" type="text">

                    <div class="invalid-feedback">{{ passwordConfirmText }}
                    </div>
                </div>
            </div>

            <button class="btn btn-light mr-2" type="button">Назад</button>
            <button id="btn-step2" class="btn btn-primary" type="submit">Зарегистрироваться</button>

        </form>
    </div>
{% endblock %}

{% block footer %}
    <div class="inner">
        <p>Copyright &copy; <a href="">Semen Sereda</a></p>
    </div>
{% endblock %}

